body {
  margin: 0;
  background-color: black;
}

#root {
  width: 100%;
  /* Must look into changing this when enabling PWA feature */
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
